{% extends "base.html" %} {% block content %}
<div class="row" id="main-home">

		<div class="container scroll" id="main">
			<div class="jumbotron text-white bg-transparent mb-0">
				<h1 class="display-4 text-center">Bookmarks</h1>
				<p class="lead text-center">
					<b>These are cards that you have bookmarked for future reference.</b>
				</p>
			</div>
			<div class="row">
				{% for card in bookmarked_cards %}
				<div class="ccol-sm-6 col-lg-4 col-xl-3">
					<div
						class="card text-white bg-transparent my-4 mx-3"
						style="width: 15rem"
					>
						<img
							src="{{card.image_url}}"
							class="card-img-top mtg-card"
							alt="..."
						/>
						<button
							class="btn btn-md btn-secondary my-1 show-info-btn unselected"
							type="button"
							data-toggle="collapse"
							data-target="#info-{{card.id}}"
							aria-expanded="false"
							aria-controls="collapseExample"
						>
							Show Info
							<i class="show-info-unselected fas fa-caret-left"></i>
						</button>
						<div class="collapse" id="info-{{card.id}}">
							<div class="card-body px-0">
								<div class="row justify-content-center align-items-center">
									<h5 class="card-title">{{card.name}}</h5>
								</div>
								<table class="table ml-0 mb-0 text-light">
									<tbody>
										{% for attr, value in card.__dict__.items() %} 
											{% if attr !='image_url' and attr != 'text' and attr != 'id' and attr != '_sa_instance_state' and value and value != '' %}
												<tr>
													<th scope="row" class="pb-0">
														<p><b>{{attr.upper().replace('_', ' ')}}</b></p>
													</th>
													<td class="text-small pb-3">
														<small>{{value}}</small>
													</td>
												</tr>
											{% endif %}
										{% endfor %}
									</tbody>
								
								</table>
							</div>
						</div>
						<div class="col">
							<div class="row">
								<form action="/cards/{{card.id}}/unbookmark" method="POST" id="{{card.id}}" class="unbookmark-form bookmark-btn-form">
									<button class="col btn btn-md btn-primary rounded-circle">
										<i class="fas fa-bookmark"></i>
									</button>
								</form>

								<button
									class="col btn btn-md btn-primary ml-1 add-to-deck-btn unselected"
									type="button"
									data-toggle="collapse"
									data-target="#add-{{card.id}}"
									aria-expanded="false"
									aria-controls="collapseExample"
								>
									Add to Deck
									<i class="add-to-deck-unselected fas fa-caret-left"></i>
								</button>
							</div>
						</div>
						<div class="">
							<div class="row justify-content-center">
								<div class="collapse col" id="add-{{card.id}}">
									<div class="">
										{% for deck in decks %}
										<form
											action="/cards/{{card.id}}/decks/{{deck.id}}"
											method="POST"
										>
											<button class="col btn btn-md btn-outline-primary mt-1">
												{{deck.deck_name}}
											</button>
										</form>
										{% endfor %}
										<a
											class="col btn btn-md btn-outline-light mt-1"
											href="/new?card-to-add={{card.id}}"
											>Create Deck <i class="fas fa-plus"></i
										></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endblock %}
</div>
