{% extends "base.html" %} {% block content %}

<div class="container" id="main">
	<div class="row justify-content-center">
		<h1 class="display-3 text-white my-3">{{user.username}}'s Decks</h1>
	</div>
	<div class="row justify-content-center">
		{% for category, message in get_flashed_messages(with_categories=True) %}
		<p class="alert alert-{{category}} text-right my-5">{{ message }}</p>
		{% endfor %}
	</div>
	<div class="row">
		{% for deck in decks %}
		<div class="row col-6 justify-content-center">
			<div class="card text-white bg-transparent my-4" style="width: 18rem">
				<img
					src="/static/images/mtg_deck_img.jpg"
					class="card-img-top mtg-card rounded-circle border border-light"
					alt="..."
				/>
				<div class="row justify-content-center">
					<h4 class="card-title mt-2">{{deck.deck_name}}</h4>
				</div>
				<div class="row justify-content-center">
					<h6 class="">{{deck.deck_type}}</h6>
				</div>
				<div class="row justify-content-around my-1">
					<div class="col col-12">
						<form action="/decks/{{deck.id}}/delete" method="POST">
							<button
								class="btn btn-danger col mt-2"
								data-toggle="collapse"
								data-target="#info-{{deck.id}}"
								aria-expanded="false"
								aria-controls="collapseExample"
							>
								Delete
							</button>
						</form>
						<a href="/decks/{{deck.id}}" class="btn btn-primary col my-1"
							>View Deck</a
						>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
